{% extends 'base.html' %}

{% block title %}utf9k | articles{% endblock %}

{% block nav %}big words{% endblock %}
{% block blog %}[ articles ]{% endblock %}

{% block content %}
<div class="container col-11 pushback">
  <div class="columns">
    <div class="column col-9 col-sm-12">
    {% for article in articles %}
      <div class="tile tile-centered ml-2 blog-entry">
        <div class="tile-content">
          <div class="tile-title">
            <a href="{{ article.slug }}">
              {{ article.title }}
            </a>
          </div>
          <div class="tile-subtitle text-gray">
            {{ article.date|date:"N d, Y" }}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="empty">
        <p class="empty-title h5">No articles</p>
        <p class="empty-subtitle">Nothing has been written anything yet!</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
